.sidebar {
  box-sizing: border-box;
  padding: 0 15px 10px;
  width: 242px;
  section {
    border-bottom: 1px solid $bordercolor;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  article {
    margin-bottom: 20px;
    @include clearfix;
  }
  header {
    margin: 14px 0 12px;
    @include clearfix;
  }
  a {
    color: #1c2534;
    margin-bottom: 5px;
  }
  a.fl {
    display: block;
    width: 100%;
  }
  p {
    display: inline-block;
    width: 122px;
    line-height: 1.23;
    font-size: 14px;
    color: #7c8695;
  }
  img {
    border-radius: 5px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
  }
  span {
    display: inline-block;
    margin-top: 3px;
  }
  &-menu {
    margin-bottom: 20px;
  }
}
.menu li {
  border-bottom: 1px solid $bordercolor;
  height: 50px;
  line-height: 50px;
  a {
    color: #59606b;
    transition: $time;
    &:hover {
      color: $accentcolor;
    }
  }
  .icon {
    margin-right: 25px;
    position: relative;
    top: 5px;
  }
}
.see-all {
  font-size: 14px;
  color: #1c2534;
}
.follow {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
.featured-companies {
  article {
    margin-bottom: 20px;
    @include clearfix;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.banner img {
  width: 212px;
  height: 100%;
}